.todo--pending {
  display:block;
  margin:0;  
  width:100%;
  min-height:10vh;
  background-color:rgb(55, 167, 92);
  margin-bottom:20px; 
  border-radius:8px;
  color:white;
  padding:10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border:1px solid white;
}

.todo--completed {
  display:block;
  margin:0;  
  width:100%;
  background-color:rgb(190, 113, 113);
  margin-bottom:20px; 
  border-radius:8px;
  color:white;
  padding:10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border:1px solid white;
}

.todo--toggle-completed {
  padding:25px;
}

.todo--toggle-completed--title {
  padding:10px;
  color:white;
  margin-top:-12px;
}

.todo--toggle-completed-description {
  margin-top:-10px;
}

.todo__button--remove {
  width:25%;
  height:25px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight:bold;
  font-size:0.7em;
  background-color:white;
  border:1px solid white;
  color:gray;
  border-radius:3px;
}
